<ul class="content_create_workspace">

<li> <label>Personas para compartir esta aplicacion</label> </li>
<li class="input_"> <i class="glyphicon glyphicon-user"></i> <input class="share_app_input" type="text" name="share_app_input_" placeholder="Nombre o email para compartir esta aplicacion"/> </li>

<li class="content_users_s_a"> </li>



<li> <label>Permisos al compartir tu aplicacion.</label> </li>


<li>



<table class="app settings_share_app">

	<thead>
		<tr>
			<th class="">  Compartir </th> 

			<th class="" data-type="section">
				<span class="name">Seccion</span>
			</th>

			<th data-type="section">
				<span class="name">Puede Editar</span>
			</th>

			<th data-type="section">
				<span class="name">Puede Ver</span>

			</th>

		</tr>
	</thead>

	<tbody class="container_data">

		<%= secions_in_application %>

	</tbody>
</table>



</li>

</ul>



