<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Desk</title>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/normalize.css"/>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/landing.css"/>
</head>
<body>
<div class="container" >
<div class="main-title">

	<i class="glyphicon glyphicon-fire"></i>
	Desk 

</div>
<div class="content-login-form">
	{% if state %}

<div class="error" >		{{ state }}  </div>

	{% endif %}

		{% if next %}
		<form action="/login/?next={{next}}" method="post" >
		{%else%}
		<form method="post" action="{% url 'login_path' %}">
		{% endif %}

		{% csrf_token %}
		{{ login_form }}
		<button class="button login" type="submit">Iniciar sesion</button>
			</form>

	<ul>
		<!-- <li> <a href="/login/?lang=CN">中國 </li> -->
	</ul>
</div>
</div>
</body>
</html>


