<ul>

<li class="input_">   <i class="glyphicon glyphicon-align-justify"></i> <input type="text"  placeholder="Nombre de contacto"/> </li>

<li class="input_"> <i class="glyphicon glyphicon-envelope"></i> <input type="text"  placeholder="Correo (Con este correo iniciara sesion tu contacto)"/> </li>

<li class="input_"> <i class="glyphicon glyphicon-lock"></i> <input type="password"  placeholder="Contraseña"/> </li>
<li class="input_"> <i class="glyphicon glyphicon-lock"></i> <input type="password" placeholder="Confirma Contraseña"/> </li>

</ul>
