<ul class="content_signup">

<li class="input_">   <i class="glyphicon glyphicon-user"></i> <input type="text" class="first_name" name="first_name"  placeholder="Nombre de contacto"/> </li>
<li class="input_">   <i class="glyphicon glyphicon-user"></i> <input type="text" class="last" name="last_name"  placeholder="Apellido de contacto"/> </li>

<li class="input_"> <i class="glyphicon glyphicon-envelope"></i> <input type="text" name="email" class="email"  placeholder="Correo (Con este correo iniciara sesion tu contacto)"/> </li>

<li class="input_"> <i class="glyphicon glyphicon-lock"></i> <input type="password" name="password" class="password"  placeholder="Contraseña"/> </li>
<li class="input_"> <i class="glyphicon glyphicon-lock"></i> <input type="password" placeholder="Confirma Contraseña"/> </li>

</ul>
