<table class="app">
	<thead>
		<tr>
			<th class=" ">Columna A <i class="glyphicon glyphicon-pencil"></i></th>
			<th class="btn gray add_column">+ Añadir columna</th>

		</tr>
	</thead>
	<tbody class="container_data"><tr class="data-str" pk-viewed="" data="">

			<td class="">dato 1</td>
			<td class=""></td>

		</tr>

		<tr><td class="">dato 10</td>
			<td class=""></td>
		</tr>

		<tr><td class="">data 23</td>
			<td class=""></td>
		</tr>

		<tr><td class="">34 34</td>
		<td class=""></td>


		</tr>


	</tbody>
</table>
