<table class="app">


		
		

			 
	<thead>
		<tr>

			<th class="">  id   
			</th>


		<% _.each(data.objects , function(app) { %>

			<th class=" "> <%= app.section.name  %>   <span>
				<span class="config_section"> <i class="glyphicon glyphicon-cog"></i> </span>    
			</th>

		<% }); %>


			<th class="btn gray add_column">+ </th>

		</tr>
	</thead>

	<tbody class="container_data">

		<%  _tr_start = '<tr>' %>
		<%  _tr_end = '</tr>' %>
		<%  _td_start = '<td>' %>
		<%  _td_end = '</td>' %>
		<% _extra_rows_at_end='' %>

		<%  _tr  = []   %>

		<% _.each(data.objects , function(app , key_section ) { %>

			<% _extra_rows_at_end+= _td_start + _td_end; %>

							<% _.each(app.section_fields , function(fields, key_field ) { %>

									<%  _tr[key_field] = ( _tr[key_field] == undefined ) ? "" :  _tr[key_field] ; %>

									<% _tr[key_field] =  _tr[key_field] +   _td_start  + fields.field.data + _td_end  %>

							<% }); %>
		<% }); %>


		<% _last_key = 0 %>
		<% _.each( _tr , function(data_in_tr , key ) { %>

				<%= _tr_start + _td_start +  key + _td_end + data_in_tr +  _td_start +  _td_end + _tr_end      %>

				<% _last_key = parseInt(key) %>
		<% }) %>


		<% console.log(typeof _last_key ) %>

		<% _last_key+=1; %>

		<%= _tr_start + _td_start +  _last_key  + _td_end + _extra_rows_at_end +  _td_start +  _td_end + _tr_end      %>



	</tbody>
</table>
