<table class="app">


		
		

			 
	<thead>
		<tr>

			<th class="">  id   </th> 

		<% _.each(data.objects , function(app) { %>

		<th class="edit_section" data-id="<%= app.section.id %>" data-type="section">
			<span class="name"><%= app.section.name  %>   </span>


			<span class="config_section"> 
		       
				     <div class="btn-group open">
					     <span type="button" class="dropdown-toggle" data-toggle="dropdown">
					     <i class="glyphicon glyphicon-cog"></i>
					     </span>
						<ul class="dropdown-menu" role="menu">
							 <li role="presentation" class="dropdown-header">Formato de seccion</li>
							<li class="divider"></li>
							<li>Imagen</li>
						</ul>
					</div>

	
		
			</span>    




			</th>

		<% }); %>


			<th class="btn gray add_column">+ </th>

		</tr>
	</thead>

	<tbody class="container_data">

		<%  var _tr_start = '<tr>' %>
		<%  var _tr_end = '</tr>' %>
		<%  var _td_start = '<td>' %>
		<%  var _td_end = '</td>' %>
		<% var _extra_rows_at_end='' %>

		<%  _tr  = []   %>

		<% _.each(data.objects , function(app , key_section ) { %>

			<% _extra_rows_at_end+= "<td  class='last_allow'> "+ _td_end; %>

							<% _.each(app.section_fields , function(fields, key_field ) { %>

									<%  _tr[key_field] = ( _tr[key_field] == undefined ) ? "" :  _tr[key_field] ; %>

									<% _tr[key_field] =  _tr[key_field] +  "<td  data-id='"+fields.field.id+"' class='allow'>" + fields.field.data + _td_end  %>

							<% }); %>
		<% }); %>


		<% var _last_key = 0 %>
		<% _.each( _tr , function(data_in_tr , key ) { %>

				<%= _tr_start + _td_start +  key + _td_end + data_in_tr +  _td_start +  _td_end + _tr_end      %>

				<% _last_key = parseInt(key) %>
		<% }) %>

		<% _last_key+=1; %>

		<%= _tr_start + _td_start +  _last_key  + _td_end + _extra_rows_at_end +  _td_start +  _td_end + _tr_end      %>



	</tbody>
</table>
