<table class="app">

	<thead>
		<tr>
			<th class="">  id   </th> 

		<% _.each(data.objects , function(app) { %>

		<th contenteditable="true" class="edit_section no-event-attach" data-id="<%= app.section.id %>" data-type="section">
			<span class="name"><%= app.section.name  %>   </span>


			<!--
			<span class="config_section"> 
		       
				     <div class="btn-group open">
					     <span type="button" class="dropdown-toggle" data-toggle="dropdown">
					     <i class="glyphicon glyphicon-cog"></i>
					     </span>
						<ul class="dropdown-menu" role="menu">
							 <li role="presentation" class="dropdown-header">Formato de seccion</li>
							<li class="divider"></li>
							<li>Imagen</li>
						</ul>
					</div>

			</span>    
			-->

			</th>

		<% }); %>

			<th class="btn gray add_column">+ </th>
		</tr>
	</thead>

	<tbody class="container_data">

	 	<%= data_tr_template %>	

	</tbody>
</table>




