<div class="section_ app_desk" data-nav="app_desk">

			{% include "search_header.html" %}
	<div class="header">
		<ul>

			<li class="path"> <strong>
				
				
				<span class="current_app create_name_app_" contenteditable="true"> Cargando Aplicacion...
		
				
			 </span>  
			<span class="edit_btn"> <i class="glyphicon glyphicon-pencil"></i> editar</span>  
				</strong>
			

			</li>

		</ul>
	</div>





	<div class="main">



			<div class="section_main awesome_app">

				<div class="header_main">

					<div class="conf_section">

						<div class="search " data-type="create_app">
							<i class="glyphicon glyphicon-search"></i>
							<input type="text" placeholder="Buscar" />
						</div>



							<span class="full_screen fl rg" data-path=""> 

								<div><i class='glyphicon glyphicon-fullscreen'></i> Maximizar</div>
							</span>


							<span class="app_share btn green fl rg" data-path=""> 

		<div> <i class="glyphicon glyphicon-share"></i><span class="name">Compartir</span> </div> 
							</span>

							<span class="app_merge  btn gray fl rg" data-path=""> 
					<div> <i class="glyphicon glyphicon-fire"></i><span class="name">Incluir otra seccion </span> </div> 
							</span>



					</div>

				</div>



				<div class="str_section  container_app">

				</div>





			</div>


	</div>
</div>
