<div class="section_" data-nav="app_desk">
	<div class="header">
		<ul>

			<li class="path"> <strong><span class="current_app"> Aplicacion </strong> </span> </li>
			<li class="path fl rg"> {% include "login/login_user.html" %} </li>

		</ul>
	</div>





	<div class="main">



			<div class="section_main awesome_app">

				<div class="header_main">

					<div class="conf_section">

						<div class="search create_name_app_" data-type="create_app">
							<i class="glyphicon glyphicon-th"></i>
							<input type="text" placeholder="Nombre de la aplicacion" />


							
						</div>
							<span class="full_screen btn gray fl rg" data-path=""> 

								<div><i class='glyphicon glyphicon-fullscreen'></i> Maximizar</div>
							</span>


							<span class="app_share btn green fl rg" data-path=""> 
								<div> <i class="glyphicon glyphicon-share"></i><span class="name">Compartir</span> </div> 
							</span>

							<span class="app_merge  btn gray fl rg" data-path=""> 
					<div> <i class="glyphicon glyphicon-fire"></i><span class="name">Incluir otra seccion </span> </div> 
							</span>



					</div>

				</div>



				<div class="str_section  container_app">

				</div>





			</div>


	</div>
</div>
