<div class="section_" data-nav="app_desk">
	<div class="header">
		<ul>

			<li class="path"> <strong><span class="current_app"> Aplicacion </strong> </span> </li>
			<li class="path fl rg"> {% include "login/login_user.html" %} </li>

		</ul>
	</div>


	<div class="main">


			<div class="section_main">


				<div class="header_main">

					<div class="search create_name_app_" data-type="create_app">
						<i class="glyphicon glyphicon-th"></i>
						<input type="text" placeholder="Nombre de la aplicacion" />

					</div>


				</div>




				<div class="str_section  container_app">

				</div>





			</div>


	</div>
</div>
