<div class="section_" data-nav="apps_fav">
	<div class="header">
		<ul>

			<li class="path">Mis Aplicaciones Favoritas</li>
			<li class="path fl rg"> {% include "login/login_user.html" %} </li>

		</ul>
	</div>


<div class="main">



			<div class="section_main">
		

				<div class="header_main">

				</div>



				<div class="big_alert str_section">



					<div class="">
						<i class="glyphicon glyphicon-star"></i>

						<div>
							<span class="name no_apps">Aun no has añadido ninguna Aplicacion</span>
						</div>

					</div>

					</div>


			</div>





</div>
</div>


