<div class="section_" data-nav="contact">
	<div class="header">
		<ul>

			<li class="path">Contactos</li>
			<li class="path fl rg"> {% include "login/login_user.html" %} </li>

		</ul>
	</div>


<div class="main">


		<div class="section_main">
		

				<div class="header_main">

					<div class="search" data-type="contact">
						
						<i class="glyphicon glyphicon-search"></i>
						<input type="text" placeholder="Buscar Contacto" />

					</div>


				</div>


		<div class="directory_contacts">


		</div>
		</div>


</div>
</div>


