<div class="section_" data-nav="dashboard">


			{% include "search_header.html" %}

	<div class="header">
		<ul>

			<li class="path">Dashboard</li>

		</ul>
	</div>


<div class="main">



			<div class="section_main">
		

				<div class="header_main">

				</div>



				<div class="big_alert str_section">



					<div class="">
						<i class="glyphicon glyphicon-stats"></i>

						<div>
							<span class="name no_apps">Aun no has añadido ninguna Aplicacion</span>
						</div>

					</div>

					</div>


			</div>





</div>
</div>


