<div class="section_" data-nav="new_app">
	<div class="header">
		<ul>

			<li class="path"> <strong><span class="current_app"> Nueva Aplicacion </strong> </span> </li>
			<li class="path fl rg"> {% include "login/login_user.html" %} </li>

		</ul>
	</div>


	<div class="main">


			<div class="section_main">
		

				<div class="header_main">

					<div class="search create_name_app_" data-type="create_app">
						<i class="glyphicon glyphicon-th"></i>
						<input type="text" placeholder="Nombre de la aplicacion" />

					</div>


				</div>



				<div class="workspace_apps str_section  container_app">



					<div class="status_workspace ">

						<i class="glyphicon glyphicon-inbox"></i>

						<div>
							<span class="name"> Cargando...</span>
						</div>

					</div>

				</div>





			</div>


	</div>
</div>
