<div class="section_" data-nav="shared-application">

			{% include "search_header.html" %}
	<div class="header">
		<ul>

			<li class="path">Mis Aplicaciones Compartidas</li>

		</ul>
	</div>


<div class="main">



			<div class="section_main">
		

				<div class="header_main">

				</div>



				<div class="str_section shared_app_box">
					<div class="big_alert ">
						<i class="glyphicon glyphicon-send"></i>

						<div>
							<span class="name no_apps">Aun no hay aplicaciones compartidas.</span>
						</div>

					</div>

					<table class="app settings_share_app">

						<thead>
								<th class="">  Aplicacion </th> 

								<th class="" data-type="section">
									<span class="name">Propietario</span>
								</th>

								<th class="max_row" data-type="section">
									<span class="name">Participantes</span>
								</th>


								<th data-type="section">
									<span class="name"> Ultima edicion</span>
								</th>

								<th data-type="section">
									<span class="name">Configuracion</span>
								</th>

						</thead>

						<tbody class="container_data wbox shared_grid">



						</tbody>
					</table>



				</div>


			</div>





</div>
</div>


