<div class="section_" data-nav="workspace">


			{% include "search_header.html" %}
	<div class="header">
		<ul>

			<li class="path"> <br> </li>

		</ul>
	</div>


	<div class="main">


			<div class="section_main">
		

				<div class="header_main">

				</div>



				<div class="workspace_apps str_section">


					<div class="status_workspace">
						<i class="glyphicon glyphicon-inbox"></i>

						<div>
							<span class="name"> No has seleccionado ningun area de trabajo</span>
						</div>

					</div>

					</div>


			</div>


	</div>
</div>
