<div class="section_" data-nav="workspace">
	<div class="header">
		<ul>

			<li class="path">Areas De Trabajo</li>
			<li class="path fl rg"> {% include "login/login_user.html" %} </li>

		</ul>
	</div>


	<div class="main">


			<div class="section_main">
		

				<div class="header_main">

					<div class="search" data-type="workspace">
						<i class="glyphicon glyphicon-search"></i>
						<input type="text" placeholder="Buscar area de trabajo" />

					</div>


				</div>


				<div class="workspacebox str_section">


					</div>


			</div>


	</div>
</div>
