.app thead th:last-child {
	    color: #1abc9c;
	        font-size: 24px;
	}


.app tr:nth-child(2n) {
	    background: none repeat scroll 0 0 #f1f2f3;
    }

.app tbody td {
	    color: #333;
	        font-size: 12px;
		    padding: 7px 0;
	    }
.app thead {
	    border: 1px solid #ddd;
	        width: 100%;
	}

table.app {
	 text-align: center;
	    width: 100%;
    }
   .app thead th {
	    background: none repeat scroll 0 0 #fafbfc;
	        border-left: 1px solid #bbb;
		    font-size: 12px;
		        padding: 5px;
			    text-align: center;
}

.app-str .name {
	    text-transform: capitalize;
    }

.app-str .glyphicon {
	 color: #444;
	     float: left;
	         font-size: 23px;
	}

.app-str:hover{
 	cursor:pointer;
	background: none repeat scroll 0 0 #fafbfc;

}

.app-str div {
	    float: left;
	        padding: 10px 10px 10px 2px;
	}
.app-str li {
	    padding: 7px 10px !important;
    }

   .appbox .head {
	       margin-bottom: 11px !important;
       }

   .config_section {
	           float: right;
		       padding: 0 10px;
	       }
