@import url('typograph.css');
@import url('icons.css');

html,body{

height:100%;
width:100%

}


body{
	   background: none repeat scroll 0 0 #4b89b2;
	       color: rgba(255, 255, 255, 0.8);
	           font-family: Arial,sans-serif;
		       font-size: 12px;
		           overflow: hidden;
			       text-shadow: 1px 0 rgba(0, 0, 0, 0.3);
}


.content-login-form {
	height: auto;
	margin: 0 auto;
	text-align: center;
	width: 400px;
			}





.content-login-form form input:focus {
	  border: 1px solid rgba(255, 255, 255, 0.1);
	      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}


.content-login-form form input {

	  font-weight:bold;
	text-transform: capitalize;
	  background: none repeat scroll 0 0 #629dc4;
	      border: 0 none;
	          color: #ffffff;
		      font-size: 14px;
		          margin-bottom: 5px;
			      margin-top: 5px;
			          padding: 17px 8px;
				      width: 89%;
			    }

.in_sans{


     font-family: "open sans",arial,sans-serif;
}
.main-title {
	  color: rgba(255, 255, 255, 0.7);
	      font-size: 106px;
	          text-align: center;
		  margin: 8% auto 4% -8px;
		}


.main-title ul {
    padding: 0;
    }

   .main-title li:first-child {
        font-size: 31px;
	    padding-bottom: 8px;
       }

.button.login:active{

background-color: #569E3D;
    background-image: none;
        border-color: #418737;
	}
.button.login{
	background-color: #1abc9c;
	    background-repeat: repeat-x;
	        border: 0 none;
		    color: #ffffff;
		        font-size: 16px;
			    margin-top: 10px;
			        padding: 10px 15px;
				    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
				        width: 93%;
		    }
.error{

 background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
     border-radius: 2px 2px 2px 2px;
         display: inline-block;
	     font-size: 14px;
	         font-weight: bold;
		     padding-bottom: 4px;
		         padding-top: 4px;
			     width: 93%;

			     }

			     li a{

					color: white!important;
			     }
			     li {
				     color:white;
				         float: left;
					     padding: 22px 31px 0;
					     cursor:pointer;
			     }
