.menu {
	    background: none repeat scroll 0 0 #4B89B2;
	    overflow: hidden;
	        color: #FFFFFF;
		    float: left;
		        height: 100%;
			    
	    width: 225px;
}



.menu .active {
	    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
	        box-shadow: 1px 0 1px rgba(255, 255, 255, 0.6);
		    color: #FFFFFF;
		        font-size: 12px;
}
.menu li {
	 color: rgba(255, 255, 255, 0.4);
	     float: left;
	         font-family: "gb";
		     font-size: 12px;
		         padding: 13px 11px;
			     width: 100%;
}


.menu .head {
	      background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
	          font-family: "gb";
		      font-size: 18px;
		          margin-bottom: 40px;
			      padding: 16px 10px;
}

.menu li div {
	    display: inline;
	        margin-left: 10px;
}


.menu.main_color_bg.black {
	    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
	     box-shadow: 3px 0 4px rgba(0, 0, 0, 0.5) inset;
	        width: 195px;
		   display: none;
	}


	.menu.black li:hover, 	.menu li:hover  {
		    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
		        color: rgba(255, 255, 255, 0.9);
			cursor:pointer;
			    }
	

.big_alert .name {
	    color: #bbb;
	        display: inline-block;
		    font-size: 27px;
		        margin-top: 53px;
		}

		.big_alert .glyphicon {
			    color: #f2f3f4!important;
			        font-size: 340px!important;
			}

		.big_alert{
			    text-align: center;
			        width: 100%;
			}
	
.black .active {
	    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
    }
