/* Bloqueador de la ventana */



.block{
 background: none repeat scroll 0 0 rgba(60, 109, 142, 0.97);
     bottom: 0;
         display: none;
	     height: 100%;
	         left: 0;
		     position: absolute;
		         right: 0;
			     top: 0;
			         width: 100%;
				     z-index: 1000;
 
 }

/* contenedor de la ventana */


.box{
   left: 50%;
       margin-left: -280px;
           outline: medium none;
	       position: fixed;
	           top: 10%;
		       width: 560px;
		           z-index: 1050;
}
/* titulo de la ventana */


.modal .title{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px rgba(255, 255, 255, 0.2);
	    color: #FFFFFF;
	        font-family: "gl";
		    font-size: 22px;
		        padding-bottom: 21px;
			    text-align: center;
	     }

/* body de la ventana */

.modal .body{
         color: #FFFFFF;
	     font-family: "gl";
	         font-size: 20px;
		     padding: 28px 15px;
}



/* Pie de ventana */
.modal .footer{
   margin-bottom: 0;
       padding: 14px 15px 15px;
           text-align: right;
				 }

/* botton cerrar "x" */


.modal .close{
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
border: 0 none;
	box-shadow: none;
color: #000000;
float: right;
       font-size: 20px;
       font-weight: bold;
       line-height: 20px;
opacity: 0.2;
	 text-shadow: 0 1px 0 #FFFFFF;
}




#title {
    display: inline-block;
    }
#title:first-letter{

text-transform : uppercase;

}
