@import url('normalize.css');
@import url('buttons.css');
@import url('c3.css');
@import url('icons.css');
@import url('modal.css');
@import url('menu.css');


button {
	    border: 0 none;
    }



a {
	    color: inherit;
    }

html,body,#main_container{
height:100%;
width:100%;
  background: none repeat scroll 0 0 #FAFBFC;
   min-width: 768px;
}


.section_{

	   background: none repeat scroll 0 0 #F3F5F5;
	      display: none;
	          float: left;
		      height: 100%;
		          left: 170px;
			      overflow-y: auto;
			          position: absolute;
				      right: 0;
}



@font-face {     

	font-family: 'gl';   
	font-style: normal;    
src: url('../fonts/Gotham-Light.ttf'); 
}

@font-face {     

	font-family: 'gb';   
	font-style: normal;    
src: url('../fonts/Gotham-Book.ttf');    
}

@font-face {     

	font-family: 'gxl';   
	font-style: normal;    
src: url('../fonts/Gotham-XLight.ttf'); 
}



.section_ .header {
	  background: none repeat scroll 0 0 #FFFFFF;
	    border-bottom: 1px solid #CCCCCC;
	        float: left;
		    height: auto;
		        overflow-y: auto;
			    width: 100%;
}




.section_ .header {
	    border-bottom: 1px solid #CCCCCC;
	        float: left;
		    height: auto;
		        overflow-y: auto;
			    width: 100%;
}


.section_ .path {
	    float: left;
	        font-family: "gl";
		    font-size: 24px;
		        padding: 12px  20px; 
}

.main {
	    float: left;
	        height: auto;
		    overflow-y: auto;
		        padding: 1%;
			    width: 97%;
}

.search input {
	    border: 0 none;
	        width: 91%;
}

.search {
	    border: 1px solid #CCCCCC;
	        border-radius: 3px;
		    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) inset;
		        font-family: "gl";
			    font-size: 13px;
			    float:left;
				    padding: 10px;
				        width: 380px;
}
.create_user {
	    float: right;
}

.section_main {
	    background: none repeat scroll 0 0 #FFFFFF;
	        border: 1px solid #DDDDDD;
		    border-radius: 5px;
		        display: inline-block;
			    float: left;
			        min-height: 540px;
				    padding: 4px;
				        width: 100%;
}

.header_main{
   height: auto;
       overflow-y: auto;
           padding: 15px 12px;

}
.menu .head i {
	    color: #EEEEEE;
	        float: left;
		    font-size: 12px;
		        padding-right: 6px;
			    padding-top: 1px;
}
