<!DOCTYPE html>  


<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
	<head>


		<title>Desk | Dashboard </title>


	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

	   <meta name="author" content="Desk">
	   <meta name="Copyright" content="Copyright Desk 2013.">


	 <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico" />
	 <link rel="stylesheet" href="{{ MEDIA_URL }}{{ PATH_STYLE_CSS }}{% if not PATH_STYLE_CSS %}css/skeleton.min.css{% endif %}"/> 


	</head>

	<body >



		<div id="loader"> 
	       
			<i class="glyphicon glyphicon-fire"></i>
			Cargando..
		</div>

		<div id="main_container">

			{% include "menu.html" %}
			{% include "sections/workspace_appbox.html" %}
			{% include "sections/app_desk.html" %}
			{% include "sections/app.html" %}
			{% include "sections/dashboard.html" %} 
			{% include "sections/apps_favorites.html" %} 
			{% include "sections/workspace.html" %} 
			{% include "sections/contact.html" %} 
			{% include "sections/setting.html" %} 
			{% include "sections/shared_apps.html" %} 



		</div>





<!-- <script data-main="{{ MEDIA_URL}}{{ PATH_STYLE_JS }}{% if not PATH_STYLE_CSS %}js/dist/main{% endif %}" src="{{ MEDIA_URL }}js/libs/require.js"></script> --> 

<script src="{{ MEDIA_URL }}js/libs/require.js"></script>
<script>


		var config =  { 
		                 "baseUrl" : "{{ MEDIA_URL }}js/libs/" ,
			    	 "user" : {
					   lang : "ES"		    ,
					   rol :  {{ settings.rol }},
					   id :  {{ user.id }}
				   }
					 
		};


//file will be responsible for configuring Require.js and loading initially important dependencies
require.config({

	waitSeconds: 60,
        baseUrl : config.baseUrl,

        shim : {
		   'ajax_st'  : { deps : ['jquery'] } ,
		   'timeago'  : { deps : ['jquery'] } ,
		   'bootstrap'  : { deps : ['jquery'] } ,
		   //'switchery'  : { deps : ['underscore','transitionize','fastclick'] } ,
		   //'c3'  : { deps : ['d3'] } ,
		   'editable'  : { deps : ['jquery'] } ,
		   'underscore'  : {  exports : '_' }  ,
		   'bentel.modalbox'  : { deps : ['jquery'] , exports : '$'  } ,
 		   'backbone' : { deps : ['underscore' , 'jquery'] , exports : 'Backbone' }   
        },


        paths :{
		       "spin" : "spin.min",// loader 
		       "circles" : "circles.min",//circulos en svg
		       "modernizr" : "modernizr",//cross browsers
		       'modal' : 'bentel.modalbox', // modalboax
		       "app" : "../app", // inicializador de la app
		       'router' : '../router', //ruteo de toda la app
		       'handlers' : '../handlers/tabs', // sincroniza el contenedor con las tabs

		       //apps
			"button_create_app" : "../views/apps/button_create_app", // Boton crear aplicacion 
			"create_or_load_app" : "../views/apps/create_or_load_app", // crear aplicacion 
			"button_save_app" : "../views/apps/button_save_app", // salvar aplicacion 
			"appbox" : "../views/apps/apps", // salvar aplicacion 
			"unique_app" : "../views/apps/unique_app", // app 1:1 con evento al dar click en app 1:1

			//share
			"button_share_app" : "../views/share/button_share_app", // compartir una app 
			"share_application" : "../views/share/share_application", // vista general de aplicaciones compartidas  
			"shared_applicationsbox" : "../views/share/shared_applicationsbox", //  obtiene todas las aplicaciones compartidas 
			"unique_shared_app" : "../views/share/unique_shared_app", // vista de una aplicaion compartida 1:1 

		       //workspace

		       'workspace' : '../views/workspace/workspace', // Areas de trabajo 
		       'button_create_workspace' : '../views/workspace/button_create_workspace', // boton crear Areas de trabajo 
			"unique_workspace" : "../views/workspace/unique_workspace", // render template de un unico contacto 
			"workspacebox" : "../views/workspace/workspacebox", //contenedor de todas las aplicaciones 


			{% if settings.rol == '1'  %}
			       /*					CONTACT					        */
			       /*					VIEWS  						*/
			       /*					VIEWS  						*/
			"button_create_contact" : "../views/contact/button_create_contact", // boton crear contacto 
			 "contact" : "../views/contact/contact", // vista general de contacto 
			 "unique_contact" : "../views/contact/unique_contact", // render template de un unico contacto 
			 "directory_contacts" : "../views/contact/directory_contacts", // contenedor general de los contactos 

			{% endif %}

                }
        });


require([
//Carga de nuestro modulo y lo pasamos a nuestra funcion
'app' ,

], function(App){
	console.log( config.user.rol)
	App.initialize();
});
	


		</script>

		 {% include 'modal.html' %} 


	
		 <!-- Estupido Explorer -->
		 <!–[if lt IE 9]>
		 <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js?v=2.2"></script>
		 <![endif]–> 

	        {% block js %} {% endblock js %} 





<!-- <script data-main="{{ MEDIA_URL}}{{ PATH_STYLE_JS }}{% if not PATH_STYLE_CSS %}js/dist/main{% endif %}" src="{{ MEDIA_URL }}js/libs/require.js"></script> --> 


	</body>

</html>
