<div class="menu main_color_bg">
<div class="head">
<i class="glyphicon glyphicon-fire"></i>
Desk
</div>

	<ul>


		<span class="current_section">Menu</span>
		<a href="#!/dashboard/"><li data-path="dashboard"> <i class="glyphicon glyphicon-stats"></i><div>Dashboard</div> </li> </a> 

		<!-- 
		 <a href="#!/aplicaciones/favoritas/"><li data-path="apps">  <i class="glyphicon glyphicon-star"></i><div>Applicaciones  Favoritas</div>  </li> </a> 
		 -->
		{% if settings.rol != '0'  %}

			<a href="#!/contactos/"><li data-path="contact">  <i class="glyphicon glyphicon-user"></i><div>Contactos</div>  </li> </a> 
			<!-- <a href="#!/ajustes/"><li data-path="setting">  <i class="icon profile"></i><div>Ajustes</div>  </li> </a>  -->

		{% endif %}




		<span class="current_section">Areas de trabajo <span class="btn_add_workspace "> </span></span>
		
		<div class="menu main_color_bg workspace_box">

		<ul class="wbox">


		</ul>


</div>

<!-- 		<a href="#!/workspace/"><li data-path="workspace">  <i class="glyphicon glyphicon-inbox"></i><div>Areas de trabajo</div>  </li> </a>  -->


	</ul>

</div>

